{% extends 'base.html' %}

{% block konten %}
<h1>Cluster</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium delectus sint iste voluptatibus dignissimos, ut maiores repudiandae nisi eum eveniet dolor aperiam error vel vero. Repudiandae facilis illo quibusdam!
</p>
<div>
    <img src="{{url_for('static',filename='photo/output_diagran.png')}}" alt="">
</div>
<div>
    <img src="{{url_for('static',filename='photo/output_clustering.png')}}" alt="">
</div>

{% endblock %}